.fixed-bubble-nav {
    position: fixed;
    background-color: beige;
    bottom: 20px;
    right: 20px;
    width: 128px;
    height: 128px;
    transition: transform 0.5s;
}

.fixed-bubble-nav:hover {
    transform: scale(1.2);
}