body {
            font-family: Arial, sans-serif;
	　　font-size: 20px;
            margin: 0;
            padding: 0;
            background-color: #FFFFFF;
        }

a  {
            font-size: 20px;
	    font-family: Arial, sans-serif;
    }

        header {
            background-color: #006699;
            color: #F8F8FF;
            padding: 10px 0;
            text-align: center;
        }

        nav {
            background-color: 		#99CCCC;
            display: flex;
            text-align: center;
            padding: 15px 0;
            justify-content: center;
        }


        nav a {
            color:#FFF;
            text-decoration: none;
            margin: 0 15px;
        }

        section {
            padding: 20px;
          
        }

        footer {
            background-color: #006699;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

　　　h2{ 
		font-weight: bold; /* 太字 */
            font-size: 30px;             
	    background-color: #D9E5FF;
            color:#000;
	    display: inline;
	    padding: 15px 0;
    }

.centered-table {
    margin: 0 auto; /* 表を中央に配置 */
    background-color: #CCCCCC; /* 背景色を灰色に設定 */
    border-collapse: collapse; /* セルの境界を結合して線を表示 */
}

/* セルの境界線 */
.centered-table th, .centered-table td {
    border: 1px solid #000; /* 黒色の線を設定 */
    padding: 8px; /* セル内の余白を設定 */
    text-align: center; /* セル内のテキストを中央寄せ */
}


      b1{ font-size: 30px;
	  font-weight: bold;}
	

      b2{ font-size: 40px;
	  font-weight: bold;}

b3{ font-size: 25px;
	  font-weight: bold;}


/* ボタンのスタイル */
#scrollBtn {
    display: none; /* 最初は非表示 */
    position: fixed; /* 画面に固定 */
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
}

/* ボタンの表示設定 */
#scrollBtn.show {
    display: block;
}

  
function scrollToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
